.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-md);
}

.title {
  margin: 0;
  font-size: 6rem;
  color: var(--color-text-secondary);
}

.message {
  margin: 0;
  font-size: var(--font-size-lg);
  color: var(--color-text-secondary);
}
